a {
  text-decoration: none;
  color: initial;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card {
  padding: 5px;
  margin: 15px;
  font-size: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.text-bold {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}
